<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBK5Retvy93H_I-oIDjdj5iYRBkr4w3BM</string>
	<key>GCM_SENDER_ID</key>
	<string>358303537077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jijiSafi</string>
	<key>PROJECT_ID</key>
	<string>jiji-safi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jiji-safi-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358303537077:ios:64fd626eccce2aaaa2ebfc</string>
</dict>
</plist>